<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry For Inconvinence</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



    <style>
        .x {
            height: 400px;
        }
        
        .y {
            margin-right: -300px;
            margin-top: 100px;
            margin-left: 10px;
            padding-left: -20px;
            color: crimson;
        }
        
        @media only screen and (min-device-width:320px) and (max-device-width:480px) {
            .x {
                background-color: crimson;
                height: 250px;
                width: 70%;
                margin-left: 5%;
                margin-right: 10%;
            }
            .y {
                margin-right: 10%;
                margin: 0px;
                margin-top: 300px;
                margin-left: 10%;
            }
            .a {
                margin-left: 5%;
                margin-right: 10%;
                width: 80%;
            }
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Unavailable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('Homepage') }}">Home <span
                            class=" sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('About') }}">About Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Contact') }}">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class=" text-center">
            <h1 class="font-weight-bold">Sorry For Inconvinence</h1>
        </div>

        <img src="/static/dog.jpeg" class="rounded x  float-left">


        <h2 class="font-weight-bold y ">The page you are<br>looking for is <br>currently unavailable </h2><br>
        <a href="{{ url_for('Homepage') }}"><button type="button " class="btn btn-dark btn-lg a ">Go Back to Home
            </button></a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="text-center">
            <h2>Inorder to view the code please <a href="https://github.com/Elysian01/Breast-Cancer-Early-Prediction">click here
                </a> </h2>
        </div>
    </div>
    </div>
    <div class="container bg-dark text-white .jumbotron mt-3 ">
        <div class=" text-center mt-5 ">
            <br>
            <h3 style="margin-top: 10px; "> This website was created by </h3>
        </div>
        <br>
        <br>
        <br>


        <div class="row d-flex align-items-center justify-content-center text-center align-items-center ">


            <div class="col main conter p-0.5 ">
                <h5>CHHADVA ANSH MITESH</h5>

                <div class="text-center ">
                    <a href="mailto:anshmiteshchhadva@gmail.com "><img src="https://img.icons8.com/color/30/000000/gmail.png " /> </a>
                    <a href="https://www.linkedin.com/in/ansh-chhadva-ab3902183/ "> <img src="https://img.icons8.com/color/28/000000/linkedin.png " />
                    </a>
                    <a href="https://github.com/ansh0812 "> <img src="https://img.icons8.com/material-sharp/30/000000/github.png " /> </a>


                </div>

            </div>
            <div class="col main p-0.5 ">
                <h5> OMKAR SUHAS BHABAL
                </h5>
                <div class="text-center ">
                    <a href="mailto:bhabalomkar421@gmail.com "><img src="https://img.icons8.com/color/30/000000/gmail.png " /> </a>
                    <a href="https://www.linkedin.com/in/omkar-bhabal-620b56192/ "> <img src="https://img.icons8.com/color/28/000000/linkedin.png " /> </a>
                    <a href="https://github.com/bhabalomkar421 "> <img src="https://img.icons8.com/material-sharp/30/000000/github.png " /></a>

                </div>

            </div>


            <div class="col main p-0.5 ">
                <h5> GUPTA ABHISHEK MANILAL</h5>
                <div class="text-center ">
                    <a href="mailto:abhig0209@gmail.com "><img src="https://img.icons8.com/color/30/000000/gmail.png " />
                    </a>
                    <a href="https://www.linkedin.com/in/abhishek-gupta-a745221a0/ "> <img src="https://img.icons8.com/color/28/000000/linkedin.png " />



                        <a href="https://github.com/Elysian01 "> <img src="https://img.icons8.com/material-sharp/30/000000/github.png " /></a><br>
                </div>
            </div>
        </div>


        <br>
        <br>
        <br>

    </div>
    <br>
</body>

</html>