<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Impulse - Homepage</title>

    <style>
        .form-actions {
            margin: 0;
            background-color: transparent;
            text-align: center;
        }
        
        .mobileContent {
            display: none;
        }
        
        @media only screen and (min-device-width:320px) and (max-device-width:480px) {
            .mobileContent {
                display: inline;
            }
            .table-responsive {
                display: none;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Impulse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('Homepage') }}">Home <span
                            class=" sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('About') }}">About Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Contact') }}">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-6">
            <img src="/static/Impulse.png" class="img-fluid float-right mx-0" alt="Responsive image" style="width: 150px; height:100px;">

        </div>
        <div class="col float-left">
            <h1 class="text-left mt-3 mx-0 font-weight-bolder">Impulse</h1>
        </div>
    </div>
    {% if feedback == "True" %}
    <div id="alert" class="container">
        <br>
        <div class="alert alert-success text-center font-weight-bold fon" role="alert">
            <h5>Thanks for your Feedback !! </h5>
        </div>
    </div>
    {% endif %}
    <br>

    <div class="card bg-gradient-info">
        <h4 class="text-center p-3 font-italic" style="color:#0099ff;">To insure good health eat lightly ,breath deeply , live moderately,cultivate cheerfulness , and maintain an interest in life.</h4>
    </div>

    </div>


    <div class="container">
        <br>


        <div class="table-responsive">
            <table cellspacing="1" cellpadding="25" class="table">
                <thead>
                    <tr>
                        <th rowspan=3 class="float-right"><img src="/static/VirusImage.png" alt="3"></th>
                        <th colspan="3" class="text-center align-middle">
                            <h2 class="font-weight-bold">Coronavirus Section </h2>
                            <br>
                            <h5 class="text-center">Track Coronavirus Symptoms </h5>
                            <br>
                            <a href="{{ url_for('Coronavirus') }}"><button type="submit" class="btn btn-primary btn-lg  "
                                    type="submit">COVID-19
                                    Detector</button></a>
                        </th>
                    </tr>



                </thead>
            </table>
        </div>

        <div class="mobileContent">
            <br>
            <h2 class="text-center font-weight-bold">Coronavirus </h2>
            <br>
            <!-- <div class="card container" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">Total Cases : {{ cases }}</li>
                    <li class="list-group-item text-center">Total Cured : {{ cured }}</li>
                    <li class="list-group-item text-center">Total Death : {{ death }}</li>
                </ul>
            </div> -->
            <h5 class="text-center">Track Coronavirus Symptoms </h5>
            <br>
            <div class="form-actions">
                <a href="{{ url_for('Coronavirus') }}"><button type="submit" class="btn btn-primary btn-lg"
                    type="submit">COVID-19
                    Detector</button></a>
            </div>
        </div>





    </div>

    <br><br>

    <div class="card text-center">
        <div class="card-header">
            Disease Prediction based on Symptoms
        </div>
        <div class="card-body">
            <h1 class="card-title">Track Symptoms And Be Sure</h1>
            <h5 class="card-text ">It Predicts Whether you have Dengue, Heart-Attack, Paralysis , Hypertension and much more
            </h5>
            <br>
            <a href="{{ url_for('Disease') }}" class="btn btn-primary btn-lg">Track Now</a>
        </div>
        <div class="card-footer text-muted">
            The Accuracy of Prediction is upto 99%
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img src="/static/Chronic_Kidney.png" class="card-img-top rounded mx-auto d-block my-4" alt="#" style="width: 100px; height:100px;">
                <div class="card-body">
                    <h5 class="card-title text-center">Chronic Kidney Disease </h5>
                    <h5 class="card-title text-center">Detection</h5>
                    <br>
                    <div class="form-actions">
                        <a href="{{ url_for('CKD') }}"><button type="submit" class="btn btn-warning btn-lg mx-auto"
                                type="submit">Detect
                                Now</button></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="/static/BreastCancer.jpg" class="card-img-top rounded mx-auto d-block my-4" alt="#" style="width: 100px; height:100px;">
                <div class="card-body">
                    <h5 class="card-title text-center">Breast Cancer Detection</h5>
                    <br><br>
                    <div class="form-actions">
                        <a href="{{ url_for('BreastCancer') }}"><button type="submit"
                                class="btn btn-warning btn-lg mx-auto" type="submit">Detect
                                Now</button></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="/static/HeartPulse.png" class="card-img-top rounded mx-auto d-block my-4" alt="#" style="width: 100px; height:100px;">
                <div class="card-body">
                    <h5 class="card-title text-center">Heart Disease Detection</h5>
                    <br><br>
                    <div class="form-actions">
                        <a href="{{ url_for('Heart_disease') }}"><button type="submit"
                                class="btn btn-warning btn-lg mx-auto" type="submit">Detect
                                Now</button></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>