<form action="/test" method="POST">
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="1" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="2" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="3" type="checkbox" id="inlineCheckbox2" value="option3">
        <label class="form-check-label" for="inlineCheckbox2">3</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="4" type="checkbox" id="inlineCheckbox2" value="option4">
        <label class="form-check-label" for="inlineCheckbox2">4</label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>